In [ ]:
#https://journal.transformativeworks.org/index.php/twc/article/view/460/384
#black panther his evolution
#Data set is from Kaggle

#https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/
#https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.aggregate.https://www.kaggle.com/fivethirtyeight/fivethirtyeight-comic-characters-dataset

#

In [3]:
import os
import re

In [4]:
import pandas as pd
import numpy as np

In [5]:
from sqlalchemy import create_engine

In [6]:
from flask_sqlalchemy import SQLAlchemy

In [7]:
#Import csv data 

dc_path = 'dataset/dc-wikia-data.csv'
marvel_path = 'dataset/marvel-wikia-data.csv'

dc_data = pd.read_csv(dc_path)
marvel_data= pd.read_csv(marvel_path)

In [23]:
def get_name(name):
    x = re.search(r'\((.*?)\)',name)
    if x is not None:
        return(x.group().strip("()"))   
    else:
        return "nope"

def get_alias(name):
    x = re.search(r'\w+(?=\s*\([^/])',name)
    if x is not None:
        return(x.group())
    else:
        return "nope"

In [9]:
print(get_name("Batman (Bruce Wayne)"))

Bruce Wayne

In [10]:
print(get_alias("Batman (Bruce Wayne)"))

Batman

In [11]:
marvel_data.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

In [12]:
marvel_data.rename(columns={
    'Year':'YEAR'
},inplace=True)

In [13]:
dc_data.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0

In [14]:
dc = dc_data[['page_id','name','ID','ALIGN','SEX','ALIVE','APPEARANCES','YEAR']]

In [16]:
dc['name']

array(['Batman (Bruce Wayne)', 'Superman (Clark Kent)',
       'Green Lantern (Hal Jordan)', ..., 'William Harrison (New Earth)',
       'William McKinley (New Earth)', 'Mookie (New Earth)'], dtype=object)

In [24]:
dc['alias'] = dc['name'].apply(get_alias)

In [17]:
dc = dc.dropna()

In [22]:
dc['alias'] = dc['name'].apply(get_name)

AttributeError: 'NoneType' object has no attribute 'group'

In [12]:
comics_df.to_csv('pd_comics.csv',index=False)

In [13]:
marv = marvel_data[['ALIGN','ALIVE','APPEARANCES','SEX','YEAR','name','page_id']]

In [14]:
marv.shape

(16376, 7)

In [15]:
engine = create_engine('sqlite:///comics.db')
#Base.metadata.create_all(engine)

In [16]:
#file_name = 'client_db.csv'
#df = pandas.read_csv(file_name)
marv.to_sql('marvel',con=engine, if_exists='replace')

In [9]:
#look at data for marvel

marvel_df.head()
#concat data

#filter data by marvel
#filter data by dc

#timeline of women in dc or marvel 
#how many female characters are good or evil
#count the number of female to male characters
#aggregating data pivoit tables

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

In [7]:
marvel_df[~marvel_df['APPEARANCES'].isna()]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0
5,2458,Benjamin Grimm (Earth-616),\/Benjamin_Grimm_(Earth-616),Public Identity,Good Characters,Blue Eyes,No Hair,Male Characters,NaN,Living Characters,2255.0,Nov-61,1961.0
6,2166,Reed Richards (Earth-616),\/Reed_Richards_(Earth-616),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,2072.0,Nov-61,1961.0
7,1833,Hulk (Robert Bruce Banner),\/Hulk_(Robert_Bruce_Banner),Public Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,2017.0,May-62,1962.0
8,29481,Scott Summers (Earth-616),\/Scott_Summers_(Earth-616),Public Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1955.0,Sep-63,1963.0
9,1837,Jonathan Storm (Earth-616),\/Jonathan_Storm_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1934.0,Nov-61,1961.0
10,15725,Henry McCoy (Earth-616),\/Henry_McCoy_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blue Hair,Male Characters,NaN,Living Characters,1825.0,Sep-63,1963.0
11,1863,Susan Storm (Earth-616),\/Susan_Storm_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,1713.0,Nov-61,1961.0
12,7823,Namor McKenzie (Earth-616),\/Namor_McKenzie_(Earth-616),No Dual Identity,Neutral Characters,Green Eyes,Black Hair,Male Characters,NaN,Living Characters,1528.0,NaN,NaN
13,2614,Ororo Munroe (Earth-616),\/Ororo_Munroe_(Earth-616),Public Identity,Good Characters,Blue Eyes,White Hair,Female Characters,NaN,Living Characters,1512.0,May-75,1975.0
14,1803,Clinton Barton (Earth-616),\/Clinton_Barton_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1394.0,Sep-64,1964.0
15,1396,Matthew Murdock (Earth-616),\/Matthew_Murdock_(Earth-616),Public Identity,Good Characters,Blue Eyes,Red Hair,Male Characters,NaN,Living Characters,1338.0,Apr-64,1964.0
16,55534,Stephen Strange (Earth-616),\/Stephen_Strange_(Earth-616),Public Identity,Good Characters,Grey Eyes,Black Hair,Male Characters,NaN,Living Characters,1307.0,Jul-63,1963.0
17,1978,Mary Jane Watson (Earth-616),\/Mary_Jane_Watson_(Earth-616),No Dual Identity,Good Characters,Green Eyes,Red Hair,Female Characters,NaN,Living Characters,1304.0,Jun-65,1965.0
18,1872,John Jonah Jameson (Earth-616),\/John_Jonah_Jameson_(Earth-616),No Dual Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1266.0,Mar-63,1963.0
19,35350,Robert Drake (Earth-616),\/Robert_Drake_(Earth-616),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1265.0,Sep-63,1963.0
20,1557,Henry Pym (Earth-616),\/Henry_Pym_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1237.0,Jan-62,1962.0
21,65255,Charles Xavier (Earth-616),\/Charles_Xavier_(Earth-616),Public Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Deceased Characters,1233.0,Sep-63,1963.0
22,1073,Warren Worthington III (Earth-616),\/Warren_Worthington_III_(Earth-616),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1230.0,Sep-63,1963.0
23,1346,Piotr Rasputin (Earth-616),\/Piotr_Rasputin_(Earth-616),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1162.0,May-75,1975.0
24,2512,Wanda Maximoff (Earth-616),\/Wanda_Maximoff_(Earth-616),Public Identity,Good Characters,Green Eyes,Brown Hair,Female Characters,NaN,Living Characters,1161.0,Mar-64,1964.0
25,1671,Nicholas Fury (Earth-616),\/Nicholas_Fury_(Earth-616),No Dual Identity,Neutral Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1137.0,May-63,1963.0
26,1976,Janet van Dyne (Earth-616),\/Janet_van_Dyne_(Earth-616),Public Identity,Good Characters,Blue Eyes,Auburn Hair,Female Characters,NaN,Living Characters,1120.0,Jun-63,1963.0
27,65219,Jean Grey (Earth-616),\/Jean_Grey_(Earth-616),Public Identity,Good Characters,Green Eyes,Red Hair,Female Characters,NaN,Deceased Characters,1107.0,Sep-63,1963.0
28,6545,Natalia Romanova (Earth-616),\/Natalia_Romanova_(Earth-616),Public Identity,Good Characters,Green Eyes,Red Hair,Female Characters,Bisexual Characters,Living Characters,1050.0,Apr-64,1964.0
29,2223,Kurt Wagner (Earth-616),\/Kurt_Wagner_(Earth-616),Secret Identity,Good Characters,Yellow Eyes,Blue Hair,Male Characters,NaN,Living Characters,1047.0,May-75,1975.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15250,695214,Skaarn (Earth-616),\/Skaarn_(Earth-616),Secret Identity,Bad Characters,Red Eyes,Bald,Male Characters,NaN,Living Characters,1.0,NaN,NaN
15251,744082,Skabgagg (Earth-616),\/Skabgagg_(Earth-616),No Dual Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Deceased Characters,1.0,NaN,NaN
15252,699012,Slips (Earth-616),\/Slips_(Earth-616),Secret Identity,Neutral Characters,Blue Eyes,Brown Hair,Female Characters,NaN,Living Characters,1.0,NaN,NaN
15253,738629,Sliver (Earth-616),\/Sliver_(Earth-616),Secret Identity,Good Characters,White Eyes,Bald,Male Characters,NaN,Living Characters,1.0,NaN,NaN
15254,683277,Smasher 10 (Earth-616),\/Smasher_10_(Earth-616),Secret Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,1.0,NaN,NaN
15255,683276,Smasher 11 (Earth-616),\/Smasher_11_(Earth-616),Secret Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,1.0,NaN,NaN
15256,683275,Smasher 12 (Earth-616),\/Smasher_12_(Earth-616),Secret Identity,Good Characters,NaN,NaN,Female Characters,NaN,Living Characters,1.0,NaN,NaN
15257,691863,Snarrrdax (Earth-616),\/Snarrrdax_(Earth-616),Public Identity,Bad Characters,NaN,Bald,Male Characters,NaN,Living Characters,1.0,NaN,NaN
15258,683312,Sourass (Earth-616),\/Sourass_(Earth-616),No Dual Identity,Neutral Characters,White Eyes,Black Hair,Male Characters,NaN,Living Characters,1.0,NaN,NaN
15259,722412,Squid (Hobgoblin) (Earth-616),\/Squid_(Hobgoblin)_(Earth-616),Secret Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,1.0,NaN,NaN
15260,693768,Steeplejack (Hobgoblin) (Earth-616),\/Steeplejack_(Hobgoblin)_(Earth-616),Secret Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,1.0,NaN,NaN
15261,716459,Sthagati (Earth-616),\/Sthagati_(Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Deceased Characters,1.0,NaN,NaN
15262,683285,Subguardian Smasher-7 (Earth-616),\/Subguardian_Smasher-7_(Earth-616),Secret Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,1.0,NaN,NaN
15263,683295,Subguardian Warstar (Earth-616),\/Subguardian_Warstar_(Earth-616),Secret Identity,Good Characters,NaN,NaN,NaN,NaN,Living Characters,1.0,NaN,NaN
15264,633142,Szandor Shaw (Earth-616),\/Szandor_Shaw_(Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Living Characters,1.0,NaN,NaN
15265,723517,Ted Connelly (Earth-616),\/Ted_Connelly_(Earth-616),No Dual Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Deceased Characters,1.0,NaN,NaN
15266,709168,Teddy (Serval) (Earth-616),\/Teddy_(Serval)_(Earth-616),No Dual Identity,Good Characters,Brown Eyes,Bald,Male Characters,NaN,Living Characters,1.0,NaN,NaN
15267,678708,The Weaver (Legion Personality) (Earth-616),\/The_Weaver_(Legion_Personality)_(Earth-616),NaN,Neutral Characters,NaN,NaN,NaN,NaN,Living Characters,1.0,NaN,NaN
15268,722416,Tiger Shark (Hobgoblin) (Earth-616),\/Tiger_Shark_(Hobgoblin)_(Earth-616),Secret Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,1.0,NaN,NaN
15269,653670,Tolos (Earth-616),\/Tolos_(Earth-616),Public Identity,Good Characters,Amber Eyes,Brown Hair,Male Characters,NaN,Deceased Characters,1.0,NaN,NaN
15270,713786,Tori Raven (Earth-616),\/Tori_Raven_(Earth-616),No Dual Identity,Neutral Characters,NaN,NaN,Female Characters,NaN,Living Characters,1.0,NaN,NaN
15271,667151,Tucker (mutant) (Earth-616),\/Tucker_(mutant)_(Earth-616),No Dual Identity,Neutral Characters,Brown Eyes,Black Hair,Male Characters,NaN,Living Characters,1.0,NaN,NaN
15272,738507,Tumult (Earth-616),\/Tumult_(Earth-616),Secret Identity,Good Characters,Blue Eyes,Black Hair,Female Characters,NaN,Living Characters,1.0,NaN,NaN
15273,731721,Vector (Ascendants) (Earth-616),\/Vector_(Ascendants)_(Earth-616),Secret Identity,Good Characters,Black Eyes,Black Hair,Female Characters,NaN,Living Characters,1.0,NaN,NaN
15274,729159,Vinatos (Earth-616),\/Vinatos_(Earth-616),No Dual Identity,Neutral Characters,Amber Eyes,Bald,Male Characters,NaN,Living Characters,1.0,NaN,NaN
15275,625364,Visher-Rakk (Earth-616),\/Visher-Rakk_(Earth-616),Secret Identity,Bad Characters,NaN,NaN,NaN,NaN,Living Characters,1.0,NaN,NaN
15276,708936,Weapon Red (Chinese Mutant) (Earth-616),\/Weapon_Red_(Chinese_Mutant)_(Earth-616),Secret Identity,Bad Characters,White Eyes,Black Hair,Male Characters,NaN,Deceased Characters,1.0,NaN,NaN
15277,633140,Wolfgang von Roehm (Earth-616),\/Wolfgang_von_Roehm_(Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Living Characters,1.0,NaN,NaN
15278,715281,Xan (Earth-616),\/Xan_(Earth-616),No Dual Identity,Bad Characters,Yellow Eyes,Black Hair,Male Characters,NaN,Deceased Characters,1.0,NaN,NaN
15279,683153,Zamira (Earth-616),\/Zamira_(Earth-616),Secret Identity,Good Characters,Brown Eyes,Black Hair,Female Characters,NaN,Living Characters,1.0,NaN,NaN

In [11]:
#learn how to subset nan/na and fill the with zero
#marvel_df['APPEARANCES'].isna() ==True

In [19]:
marvel_df.count()

page_id             16376
name                16376
urlslug             16376
ID                  12606
ALIGN               13564
EYE                  6609
HAIR                12112
SEX                 15522
GSM                    90
ALIVE               16373
APPEARANCES         15280
FIRST APPEARANCE    15561
Year                15561
dtype: int64

In [17]:
marvel_df[marvel_df['SEX'] == 'Male Characters']['SEX'].count()

11638

In [18]:
marvel_df[marvel_df['SEX'] == 'Female Characters']['SEX'].count()

3837

In [ ]:
df = df.max(axis=1)

In [25]:
marvel_df['APPEARANCES'].max(axis=1)

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

In [24]:
#Who has the most apperances in the marvel universe
marvel_df[marvel_df['APPEARANCES'].max()]

KeyError: 4043

In [ ]:
#make year a date